{{#iterator invoices}}
<div id="addinvoice{{ id }}" class="modal">
  <div class="modal-content" style="margin-bottom: 14px; overflow-y: auto">
    <form
      action="/invoices/{{ redirecturl }}"
      id="addinvoiceform{{ id }}"
      method="POST"
    >
      <h4>{{ label }} Fatura</h4>
      {{> addinvoiceform this}}
      <h5>Produtos</h5>
      <table class="striped highlight">
        <colgroup>
          <col span="1" style="width: 40%" />
          <col span="1" style="width: 20%" />
          <col span="1" style="width: 20%" />
          <col span="1" style="width: 20%" />
        </colgroup>
        <thead>
          <tr>
            <th>Item</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Total</th>
          </tr>
        </thead>

        <tbody id="invoiceitemstablebodymodal{{ id }}">
          {{#invoiceitemrows invoiceitems}}
          <tr current-index="{{ index }}">
            <td>
              <a
                class="dropdown-trigger addinvoiceitemdropdown-trigger"
                data-target="dropdown-product-invoice-add-{{ ../id }}-{{
                  index
                }}"
                href="#"
                id="dropdown-product-invoice-add-trigger-{{ ../id }}-{{
                  index
                }}"
                style="position: relative"
              >
                <div style="margin: -15px 0">
                  <input
                    id="invoiceitemitemid-{{ ../id }}-{{ index }}"
                    type="text"
                    class="validate"
                    value="{{ item.name }}"
                  />
                  <input
                    id="invoiceitemitemidvalue-{{ ../id }}-{{ index }}"
                    name="itemId"
                    required
                    style="display: none"
                    value="{{ itemId }}"
                  />
                  <input
                    id="invoiceitemid-{{ ../id }}-{{ index }}"
                    name="entityId"
                    required
                    style="display: none"
                    value="{{ id }}"
                  /></div
              ></a>
              <ul
                id="dropdown-product-invoice-add-{{ ../id }}-{{ index }}"
                class="dropdown-content"
              ></ul>
            </td>
            <td>
              <div style="margin: -15px 0">
                <input
                  id="quantity-{{ ../id }}-{{ index }}"
                  min="0.0001"
                  name="quantity"
                  step="0.0001"
                  type="number"
                  class="validate"
                  value="{{ quantity }}"
                />
              </div>
            </td>
            <td>
              <div style="margin: -15px 0; display: flex">
                <input disabled style="width: 32px" value="R$" />
                <input
                  id="unitPrice-{{ ../id }}-{{ index }}"
                  min="0.01"
                  name="unitPrice"
                  step="0.01"
                  type="number"
                  class="validate"
                  value="{{ unitPrice }}"
                />
              </div>
            </td>
            <td>R$ 0,00</td>
            <td>
              <a
                class="waves-effect waves-light btn danger-background default-icon-button row-icon-button delete-invoiceitem-row"
                ><i class="material-icons">delete</i></a
              >
            </td>
          </tr>
          {{/invoiceitemrows}}
        </tbody>
        <tfoot>
          <th>Total</th>
          <th>0</th>
          <th>R$ 0,00</th>
          <th>R$ 0,00</th>
        </tfoot>
      </table>
    </form>
    <a
      class="waves-effect waves-light btn"
      id="additembutton{{ id }}"
      ><i class="material-icons left">add_shopping_cart</i>Produto</a
    >
  </div>
  <div class="modal-footer">
    <a class="btn-flat modal-close waves-effect waves-light" href="#!">
      Cancelar
    </a>
    <button
      class="btn waves-effect waves-light"
      form="addinvoiceform{{ id }}"
      type="submit"
      name="action"
    >
      Salvar
      <i class="material-icons right">send</i>
    </button>
  </div>
</div>
{{/iterator}}
