<div id="edititemmodal{{ id }}" class="modal">
  <div class="modal-content">
    <h4>Editar Produto</h4>
    <form
      action="/inventory/edit/{{ id }}"
      id="edititemform{{ id }}"
      method="POST"
    >
      <p>
        <label class="item-type-goods-label">
          <input
            class="item-type-goods-input with-gap"
            name="type"
            type="radio"
            value="GOODS"
          />
          <span>Produto</span>
        </label>
        <label class="item-type-service-label">
          <input
            class="item-type-service-input with-gap"
            name="type"
            type="radio"
            value="SERVICE"
          />
          <span>Serviço</span>
        </label>
      </p>
      <div class="input-field col s6">
        <input id="itemname{{ id }}" name="name" type="text" class="validate" />
        <label for="itemname{{ id }}">Nome</label>
      </div>
      <div class="input-field col s12">
        <select
          class="item-usageunit-select"
          form="edititemform{{ id }}"
          name="usageUnit"
        ></select>
        <label>Unidade</label>
      </div>
      <div class="input-field col s6">
        <input
          id="itemsellingprice{{ id }}"
          min="0.01"
          name="sellingPrice"
          step="0.01"
          type="number"
          class="validate"
        />
        <label for="itemsellingprice{{ id }}">Preço</label>
      </div>
      <div class="input-field col s12">
        <select
          class="item-account-select"
          form="edititemform{{ id }}"
          name="account"
        ></select>
        <label>Conta</label>
      </div>
      <div class="input-field col s6">
        <input
          id="itemdescription{{ id }}"
          name="description"
          type="text"
          class="validate"
        />
        <label for="itemdescription{{ id }}">Descrição</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="btn-flat modal-close waves-effect waves-light" href="#!">
      Cancelar
    </a>
    <button
      class="btn waves-effect waves-light"
      form="edititemform{{ id }}"
      type="submit"
      name="action"
    >
      Salvar
      <i class="material-icons right">send</i>
    </button>
  </div>
</div>
