<div id="inventorydeletemodal" class="modal delete-modal">
  <div class="modal-content">
    <h4>Atenção</h4>
    <p>Deseja excluir os produtos selecionados?</p>
    <form action="/inventory/delete" class="delete-form" id="deleteitemsform" method="POST">
      <div class="input-field col s6">
        <input id="modaldeleteids" name="modaldeleteids" type="hidden" />
        <label for="modaldeleteids"></label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="btn-flat modal-close waves-effect waves-light" href="#!">
      Cancelar
    </a>
    <button
      class="btn danger-background waves-effect waves-light"
      form="deleteitemsform"
      type="submit"
      name="action"
    >
      <i class="material-icons right">delete</i>
      Excluir
    </button>
  </div>
</div>
<div style="margin: -8px 0 8px 0">
  <a
    class="modal-trigger waves-effect waves-light btn danger-background"
    id="deleteitemsbutton"
    href="#inventorydeletemodal"
    ><i class="material-icons left">delete</i>Excluir selecionados</a
  >
</div>
<table class="striped highlight">
  <thead>
    <tr>
      <th>
        <div class="td-checkbox" id="td-checkbox-main">
          <label for=""
            ><input type="checkbox" class="filled-in" /><span></span
          ></label>
        </div>
      </th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Unidade</th>
      <th>Editar</th>
    </tr>
  </thead>

  <tbody class="generic-table-body" id="inventorytablebody">
    {{#each inventory}}
    <tr>
      <td class="hidden-field">{{ id }}</td>
      <td>
        <div class="td-checkbox">
          <label for=""
            ><input type="checkbox" class="filled-in" /><span></span
          ></label>
        </div>
      </td>
      <td>{{ name }}</td>
      <td>{{ description }}</td>
      <td>{{ sellingPriceLabel }}</td>
      <td>{{ usageUnit }}</td>
      <td class="hidden-field">{{ account }}</td>
      <td class="hidden-field">{{ type }}</td>
      <td>
        <a
          class="modal-trigger waves-effect waves-light btn information-background default-icon-button row-icon-button"
          href="#edititemmodal{{ id }}"
          ><i class="material-icons">edit</i></a
        >
      </td>
      {{> inventoryeditmodal this}}
    </tr>
    {{else}}
    <tr>
      <td colspan="6">Não há produtos cadastrados.</td>
    </tr>
    {{/each}}
  </tbody>
  {{> tfoot this}}
</table>
